@import url('https://fonts.googleapis.com/css?family=Prosto+One');

html,body {
    height: 95%;
    font-family: 'Prosto One';
    background-color: #0FA3B1;
    color: white;
}
header {
    font-size: 30px;
}

footer {
    font-size: 10px;
    position: absolute;
    bottom: 0;
}