@import url('https://fonts.googleapis.com/css?family=Prosto+One');

html,body {
    height: 95%;
    font-family: 'Prosto One';
    background-color: #0FA3B1;
    color: white;
    text-align: center;
}

header {
    font-size: 30px;
}

form {
    display: grid;
}

form label {
    margin-top: 20px;
    font-size: 25px;
}

form input {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    size: 30%;
    margin-left: 300px;
    margin-right: 300px;
    height: 30px;
    font-size: 25px;
}

button {
    margin: auto;
    display: block;
    margin-top: 20px;
    padding: 20px 20px;
    border: none;
}

p {
    font-size: 30px;
}

footer {
    font-size: 10px;
    position: absolute;
    bottom: 0;
}